# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
scripts/eval-results/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# local file storage
data/projects/*
data/scenes/*
data/assets/*
data/narration/*
data/captions/*
data/timeline/*
data/rendering/*
data/renders/*
!/data/.gitkeep
!/data/projects/.gitkeep
!/data/scenes/.gitkeep
!/data/assets/.gitkeep
!/data/narration/.gitkeep
!/data/captions/.gitkeep
!/data/timeline/.gitkeep
!/data/rendering/.gitkeep
!/data/renders/.gitkeep
