# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
scripts/eval-results/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# local file storage
/data/*.json
/data/projects/*.json
/data/scenes/*.json
/data/captions/*.json
/data/captions/*.srt
/data/captions/*.vtt
/data/narration/**
/data/assets/*.json
/data/timeline/*.json
/data/rendering/*.json
!/data/projects/.gitkeep
!/data/scenes/.gitkeep
!/data/captions/.gitkeep
!/data/narration/.gitkeep
!/data/assets/.gitkeep
!/data/timeline/.gitkeep
!/data/rendering/.gitkeep
